@import url('https://fonts.googleapis.com/css2? family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto' , sans-serif;
    background-image: url(calculator.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    width: 295px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
#buttonc{
    background-color: chocolate;
}
#buttonm{
    background-color: gray;
}
#buttonp{
    background-color: gray;
}
#buttond{
    background-color: gray;
}
#buttonx{
    background-color: gray;
}
#buttonpr{
    background-color: gray;
}
.text-center{
    text-align:center;
}